h1 {
  font-family: 'Poiret One', cursive;
  font-size: 80px;
  color: #6939A3;
  text-shadow: 4px 4px 4px #aaa;
  margin-bottom: 35px;
}

h2 {
  font-family: 'Poiret One', cursive;
  font-size: 30px;
  color: #6939A3;
  text-shadow: 4px 4px 4px #aaa;
  margin-bottom: 18px;
}

p {
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
}
