body {
  padding: 35px 35px 35px 35px;
}

h1 {
  font-family: 'Poiret One', cursive;
  font-size: 80px;
  color: #6939A3;
  text-shadow: 4px 4px 4px #aaa;
  margin-bottom: 35px;
}

h2 {
  font-family: 'Poiret One', cursive;
  font-size: 30px;
  color: #6939A3;
  text-shadow: 4px 4px 4px #aaa;
  margin-bottom: 18px;
}

p {
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
}

button {
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: #6939A3;
  border-color: #6939A3;
  border-radius: 2px;
  color: white;
  box-shadow: 2px 2px 2px #aaa;
  border-style: solid;
}
